<title>Track Shipment</title>

<form action="" method="post">
    {{ form.csrf }}
    <div class="input text">
        {{ form.tracking_number }}</div>
    <br/>
    <div class="input submit">
        <input type="submit" value="Track Shipment"></div>
</form>

<div><pre>{{ value }}</pre></div>